body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.game-area {
    display: flex;
    justify-content: space-around;
    align-content: center;
    width: 100vw;
    height: 100vh;
    margin-top: 2%;
}

.grid {
    display: grid;
    background: blue;
    width: 500px;
    height: 500px;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

.grid > div {
    border: 1px solid black;
}

.winner-display {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    transform: translateY(-5%);
    color: red;
    font-size: 5vw;
    visibility: hidden;
    transition: 1s;
    user-select: none;
}